.budgeting-page {
  padding: 20px;
  text-align: center;
}

.budgeting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

form {
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  min-width: 500px;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin: 10px 0;
  text-align: left;
}

form h2{
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: fit-content;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#GoalInput input{
  width: 95% ;
}

.submit-button {
  background-color:#ff1493;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.submit-button:hover{
  background-color: rgb(250, 228, 235);
  color: #ff1493;
}

aside {
  padding: 20px;
  margin-top: 200px;
  border-radius: 10px;
  width: 35%;
  text-align: center;
}

aside h2 {
  margin-bottom: 10px;
  font-size: xxx-large;
}
