/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
 body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(white, pink);
}
div .languageToggleContainer{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 20px;
  z-index: 101;
}
.language-button {
  background-color: white;
  color: #ff1493;
  border: 1px solid #ff1493;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  width: 100px;
  height: 40px;
  transition: background-color 0.3s, color 0.3s;
}

.language-button:hover {
  background-color: #ff1493;
  color: white;
}
.language-overlay {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: #f70988;
  border: 1px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-top: 30px;
  z-index: 1000;
  width: 500px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns for buttons */
  gap: 1px;
  justify-items: center; /* Center buttons horizontally in each grid cell */
  align-items: center; /* Center content vertically */
}

/* Close Button Styling */
.close-overlay {
  position: absolute;
  top: 0px; /* Distance from the top of the overlay */
  right: 0px; /* Distance from the right of the overlay */
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1010;
}

.close-overlay img {
  width: 40px; /* Adjust size of the close button */
  height: 40px;
  border-radius: 50%;
}

.language-overlay .langbutton {
  background-color: white; /* White background for buttons */
  color: #ff1493; /* Pink text for buttons */
  border: 1px solid #ff1493; /* Pink border */
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  font-weight: bold; /* Make the text stand out */
  width: 200px;
  height: 80px;
  transition: background-color 0.3s, color 0.3s;
}

.language-overlay .langbutton:hover {
  background-color: #ff1493; /* Pink background on hover */
  color: white; /* White text on hover */
}

